.main-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 35px 35px;
}

.main-screen__line {
  display: flex;
}

.main-screen__line__box {
  width: 240px;
  height: 240px;
  margin: 2px;
}

.main-screen__line__input-box {
  font-family: "BRBA_B";
  width: 728px;
  height: 240px;
  margin: 2px;
}

.title {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.title span:first-child {
  color: #224289;
}

.title span:last-child {
  color: #e01883;
}

@keyframes backgroundAnimation {
  0% {
    background-color: #fef6ad;
  }
  25% {
    background-color: #fcc9db;
  }
  50% {
    background-color: #deac88;
  }
  75% {
    background-color: #84cfe7;
  }
  100% {
    background-color: #f4f4f4;
  }
}

@keyframes backgroundAnimation2 {
  0% {
    background-color: #fcc9db;
  }
  25% {
    background-color: #deac88;
  }
  50% {
    background-color: #84cfe7;
  }
  75% {
    background-color: #f4f4f4;
  }
  100% {
    background-color: #fef6ad;
  }
}

@keyframes backgroundAnimation3 {
  0% {
    background-color: #deac88;
  }
  25% {
    background-color: #84cfe7;
  }
  50% {
    background-color: #f4f4f4;
  }
  75% {
    background-color: #fef6ad;
  }
  100% {
    background-color: #fcc9db;
  }
}

@keyframes backgroundAnimation4 {
  0% {
    background-color: #84cfe7;
  }
  25% {
    background-color: #f4f4f4;
  }
  50% {
    background-color: #fef6ad;
  }
  75% {
    background-color: #fcc9db;
  }
  100% {
    background-color: #deac88;
  }
}

@keyframes backgroundAnimation5 {
  0% {
    background-color: #f4f4f4;
  }
  25% {
    background-color: #fef6ad;
  }
  50% {
    background-color: #fcc9db;
  }
  75% {
    background-color: #deac88;
  }
  100% {
    background-color: #84cfe7;
  }
}

.first div:first-child {
  background-color: #fef6ad;
  background-image: url("http://www.baskinrobbins.co.kr/upload/product/1530781163.png");
  background-size: cover;
  background-position: center;
  animation: backgroundAnimation 6s ease-in-out infinite alternate;
}

.first div:nth-child(2) {
  background-color: #fcc9db;
  background-image: url("http://www.baskinrobbins.co.kr/upload/product/1528197022.png");
  background-size: cover;
  background-position: center;
  animation: backgroundAnimation3 6s ease-in-out infinite alternate;
}

.first div:nth-child(3) {
  background-color: #deac88;
  background-image: url("http://www.baskinrobbins.co.kr/upload/product/1452062933.png");
  background-size: cover;
  background-position: center;
  animation: backgroundAnimation5 6s ease-in-out infinite alternate;
}

.first div:nth-child(4) {
  background-color: #84cfe7;
  background-image: url("http://www.baskinrobbins.co.kr/upload/product/1530775682.png");
  background-size: cover;
  background-position: center;
  animation: backgroundAnimation2 6s ease-in-out infinite alternate;
}

.first div:last-child {
  background-color: #f4f4f4;
  background-image: url("http://www.baskinrobbins.co.kr/upload/product/1530775918.png");
  background-size: cover;
  background-position: center;
  animation: backgroundAnimation4 6s ease-in-out infinite alternate;
}

.second .main-screen__line__box:first-child {
  background-color: #f4f4f4;
  background-image: url("http://www.baskinrobbins.co.kr/upload/product/1638883103.png");
  background-size: cover;
  background-position: center;
  animation: backgroundAnimation5 6s ease-in-out infinite alternate;
}

.second .main-screen__line__box:last-child {
  background-color: #fef6ad;
  background-image: url("http://www.baskinrobbins.co.kr/upload/product/1678009203.png");
  background-size: cover;
  background-position: center;
  animation: backgroundAnimation5 6s ease-in-out infinite alternate-reverse;
}

.third div:first-child {
  background-color: #84cfe7;
  background-image: url("http://www.baskinrobbins.co.kr/upload/product/1675335385.png");
  background-size: cover;
  background-position: center;
  animation: backgroundAnimation 6s ease-in-out infinite alternate-reverse;
}

.third div:nth-child(2) {
  background-color: #f4f4f4;
  background-image: url("http://www.baskinrobbins.co.kr/upload/product/1638868047.png");
  background-size: cover;
  background-position: center;
  animation: backgroundAnimation3 6s ease-in-out infinite alternate-reverse;
}

.third div:nth-child(3) {
  background-color: #fef6ad;
  background-image: url("http://www.baskinrobbins.co.kr/upload/product/1530776851.png");
  background-size: cover;
  background-position: center;
  animation: backgroundAnimation5 6s ease-in-out infinite alternate-reverse;
}

.third div:nth-child(4) {
  background-color: #fcc9db;
  background-image: url("http://www.baskinrobbins.co.kr/upload/product/1530779443.png");
  background-size: cover;
  background-position: center;
  animation: backgroundAnimation2 6s ease-in-out infinite alternate-reverse;
}

.third div:last-child {
  background-color: #deac88;
  background-image: url("http://www.baskinrobbins.co.kr/upload/product/1638867849.png");
  background-size: cover;
  background-position: center;
  animation: backgroundAnimation4 6s ease-in-out infinite alternate-reverse;
}
