<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keyword" content="배스킨라빈스"/>
    <meta name="description" content="배스킨라빈스 맛추천"/>
    <meta name="author" content="kkakkasajo"/>

    <!-- sns Share -->
    <meta property="og:url" content="https://kkakkasajo.netlify.app"/>
    <meta property="og:title" content="배스킨라빈스 무슨 맛 먹을까?"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="img/mobile.jpg"/>
    <meta
            property="og:description"
            content="취향에 맞는 아이스크림을 추천해드려요!"
    />

    <!-- favicon -->
    <link rel="shortcut icon" href="../static/img/icecream.ico"/>
    <link rel="apple-touch-icon-precomposed" href="../static/img/icecream.ico"/>

    <!-- css -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/default.css"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <link rel="stylesheet" href="../static/css/qna.css"/>
    <link rel="stylesheet" href="../static/css/animation.css"/>
    <link rel="stylesheet" href="../static/css/result.css"/>
    <link rel="stylesheet" href="../static/css/layer.css"/>
    <style>
        @font-face {
            font-family: "BRBA_B";
            src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/BRBA_B.woff") format("woff");
            font-weight: normal;
            font-style: normal;
        }
    </style>

    <!-- kakaoShare -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
        Kakao.init("30c8aacc461996e5212cc88f0ee8deab");
        Kakao.isInitialized();
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>배스킨라빈스 무슨 맛 먹을까?</title>
</head>

<body>
<div class="container">
    <!-- Main -->
    <section id="main" class="mx-auto my-5 py-5 px-3">
        <span class="h1">배스킨</span><span class="h1">라빈스</span><br/><span
            class="h1"
    >무슨 맛 먹을까?</span
    >
        <div
                class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto ice-image mt-5 mb-2"
        >
            <div class="ice-image__box one me-1 col-4">
                <img src="../static/img/image-15.png" alt="mainImage" class="img-fluid"/>
            </div>
            <div class="ice-image__box two me-1 col-4">
                <img src="../static/img/image-20.png" alt="mainImage" class="img-fluid"/>
            </div>
            <div class="ice-image__box three me-1 col-4">
                <img src="../static/img/image-10.png" alt="mainImage" class="img-fluid"/>
            </div>
            <div class="ice-image__box four me-1 col-4">
                <img src="../static/img/image-16.png" alt="mainImage" class="img-fluid"/>
            </div>
            <div class="ice-image__box five col-4">
                <img src="../static/img/image-29.png" alt="mainImage" class="img-fluid"/>
            </div>
        </div>
        <img src="../static/img/shrug.png" alt="mainImage" class="mx-auto col-4"/>
        <p class="h4 mt-4">
            너무 많은 아이스크림 종류에 고민이라면?<br/>
            걱정마세요 <br/>
            당신의 취향에 딱 맞는 맛을 골라드립니다.<br/>
            아래 시작하기 버튼을 눌러보세요!
        </p>

        <div class="check mt-3 mb-4">
            <label
            ><input
                    type="radio"
                    name="size"
                    value="single"
                    class="size-checkbox me-2"
                    onclick="checkOnlyOne(this)"
            />싱글(1가지맛)</label
            >
            <label
            ><input
                    type="radio"
                    name="size"
                    value="pint"
                    class="size-checkbox me-2"
                    onclick="checkOnlyOne(this)"
            />파인트(3가지맛)</label
            >
            <label
            ><input
                    type="radio"
                    name="size"
                    value="quarter"
                    class="size-checkbox me-2"
                    onclick="checkOnlyOne(this)"
            />쿼터(4가지맛)</label
            >
            <label
            ><input
                    type="radio"
                    name="size"
                    value="family"
                    class="size-checkbox me-2"
                    onclick="checkOnlyOne(this)"
            />패밀리(5가지맛)</label
            >
            <label
            ><input
                    type="radio"
                    name="size"
                    value="halfGallon"
                    class="size-checkbox me-2"
                    onclick="checkOnlyOne(this)"
            />하프갤런(6가지맛)</label
            >
        </div>
        <button
                type="button"
                class="test-btn py-2 px-3 row mx-auto"
                onclick="js:begin()"
        >
            테스트 시작하기
        </button>
    </section>

    <!-- QnA -->
    <section id="qna" class="mx-auto my-5 py-5 px-3">
        <div class="status mx-auto">
            <div class="statusBar"></div>
        </div>
        <div class="qBox my-5 py-3 mx-auto h3"></div>
        <div class="answerBox h5"></div>
    </section>

    <!-- Result -->
    <section id="result" class="mx-auto my-5 py-5 px-3">
        <h1 class="mb-5">내입맛에 딱맞는 아이스크림은?</h1>
        <div class="resultname"></div>
        <div
                id="resultImg"
                class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto"
                {#                style="display: flex; justify-content: center; width: 250px"#}
        ></div>
        <div class="resultDesc mb-5"></div>
        <div id="flavor-count"></div>

        <table class="rResult mx-auto mb-5">
            <caption
                    style="caption-side: top; text-align: center; color: black;border-bottom: solid; background-color: rgba(247,156,87,0.42);">
                <b>실시간 인기메뉴 순위</b></caption>
            {% for doc in docs %}
                <tr>
                    <td>
                        {{ doc['ranks'] }}
                    </td>
                    <td>
                        {{ doc['names'] }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="result-btn-box">

            <button class="dialog__trigger result-btn result-btn py-2 px-3 my-2">영양정보 확인하기</button>
            <div class="dialog">
                <span class="dialog__close">&#x2715;</span>
                <table>
                    <thead class="dialog__title">
                    <tr>
                        <th>제품명</th>
                        <th>1회 제공량(g)</th>
                        <th>열량(kcal)</th>
                        <th>나트륨(mg)</th>
                        <th>당류(g)</th>
                        <th>포화지방(g)</th>
                        <th>단백질(g)</th>
                        <th>알러지 유발성분</th>
                    </tr>
                    </thead>
                    <tbody class="dialog__content">
                    {% for nutrition in nutritions %}
                        {% if nutrition['sugar'] != "" and nutrition['caffeine'] == "-" %}
                            <tr>
                                <td>
                                    <p>{{ nutrition['name'] }}</p>
                                </td>
                                <td>
                                    <p>{{ nutrition['size'] }}</p>
                                </td>
                                <td>
                                    <p>{{ nutrition['kcal'] }}</p>
                                </td>
                                <td>
                                    <p>{{ nutrition['sodium'] }}</p>
                                </td>
                                <td>
                                    <p>{{ nutrition['sugar'] }}</p>
                                </td>
                                <td>
                                    <p>{{ nutrition['fat'] }}</p>
                                </td>
                                <td>
                                    <p>{{ nutrition['protein'] }}</p>
                                </td>
                                <td>
                                    <p>{{ nutrition['allergy'] }}</p>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <button
                    type="button"
                    class="result-btn py-2 px-3 my-2"
                    onclick="window.open('https://map.kakao.com/link/search/배스킨라빈스')"
            >
                근처 매장찾기
            </button>

            <button
                    type="button"
                    class="result-btn py-2 px-3 my-2"
                    onclick="js:kakaoShare()"
            >
                공유하기
            </button>
            <button
                    type="button"
                    class="result-btn py-2 px-3 my-2"
                    onclick="window.location.reload()"
            >
                테스트 다시하기
            </button>
        </div>
    </section>

    <!-- JS -->
    <script src="../static/js/data.js" charset="utf-8"></script>
    <script src="../static/js/start.js" charset="utf-8"></script>
    <script src="../static/js/share.js" charset="utf-8"></script>
    <script src="../static/js/layer.js" charset="utf-8"></script>
</div>
</body>
</html>
